<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/download.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        MY BANK
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="reg_name" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text" name="acno" id="reg_acno" placeholder="Account number">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="reg_pswd" placeholder="Password">
        </div>
        <button class="btn mt-3"onclick="register()" type="submit">Register</button>
    </form>
    <div class="text-center fs-6">
        <a href="./index.html">Sign in</a>
    </div>
</div>